@charset "utf-8";
/* CSS Document */

/*----- css reset start ----- */
*,*:after,*:before { box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; list-style-type:none; }
input,select{outline: none; border:none;}
body, button, input, select, textarea { font: 12px/1.5 Microsoft YaHei,"微软雅黑", tahoma, arial,\5b8b\4f53, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:normal; }
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: courier new, courier, monospace; }
button,a.btn , input[type="button"], input[type="reset"], input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
}
input,select,textarea,button{ 
	font-size: 100%;
	vertical-align: middle;
	outline:none;
}
img{ 
	vertical-align: middle;
	border:none;
	max-width: 100%;
	-ms-interpolation-mode:bicubic; 
}
textarea{ resize:none; }
small { font-size: 12px; }
ul, ol { list-style: none; }
a { text-decoration: none; color: #333; }
a:hover { text-decoration: none; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
legend { color: #000; }
fieldset { border: 0; }
button, input, select, textarea { font-size: 100%; }
button { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix{*zoom:1;}
.clear{clear:both;}
.fl{float: left;}
.fr{float: right;}
.abs{position: absolute;}
.rel{position: relative;}
.ellipsis{ white-space: nowrap;text-overflow:ellipsis;overflow: hidden; }
b { font-weight: normal; }
.dib { display: inline-block; }
.dn { display: none; }
.vam { vertical-align: middle; }
.tdu { text-decoration: underline; }
/*----- css reset end----- */



